<html>
  <head>
    <meta charset="utf-8"/>
    <title>RU-Worth </title>
    <link rel="stylesheet" type="text/css" href="/landing.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-dark-grey">
      <a class="navbar-brand" href="/"><img border="0" alt="Logo" src="logo.jpg" width="180"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Link</a>
          </li>
        </ul>
        <div class="mx-auto">
            <form class="form-inline my-2 my-lg-0">
            <input style="text-align:center;" class="form-control mr-sm-2" type="search" placeholder="Search ISBN" aria-label="Search">
            <button style="text-align:center;" class="btn btn-secondary my-2 my-sm-0 active-black-4 mb-4" type="submit">Search</button>
            </form>
        </div>
        <a href="/login"><button class="btn btn-secondary my-2 my-sm-0 active-black-4 mb-4">LOG IN </button></a>
        <div class="nav-link">
            <a href="/register"><button class="btn btn-secondary my-2 my-sm-0 active-black-4 mb-4"> REGISTER </button></a>
        </div>
      </div>
    </nav>
  