{{> header }} {{! header.handlebars partial}}


<body background="book.jpg"></body>

    <br><br>
    <div class="content">
        <div class="col-md-12 text-center">
          
          <header> <h1><span class="red"> Rutgers </span> <span class="white">Textbook Rater</span></a></h1> </header>
        </div>
    </div><br>
    <hr class="bold">   
    <p class="text-center">
      <font color="white">Search ratings for required course textbooks by entering the ISBN below!<font> 
    </p>
    <hr class="bold">       
    <br>      
    <div class="form-element text-left">
      <form action"/" method="GET">
        <dt class="text-left"> <label for="isbn">ISBN</label> </dt>
        <dd>
          <input autocomplete="off" id="isbn" name="isbn" placeholder="Search ISBN-13" type="text">         
        </dd>
        <div class= "text-center">
          <button class="btn btn-secondary" type="submit">Search</button>
        </div>
      </form>  
    </div>
    <br>
    

{{> footer}} {{! footer.handlebars parital}}
