{{> header }} {{! header.handlebars partial}}

<br>

 <h2 class="text-center"><span class="red"> Log In </span> <span class="grey">to Rate Textbooks!</span></a></h2> 
<hr class="bold">   

<form action="/login" class="form-element text-left" method="POST">
    <dt><label for="email">Email</label></dt>
    <input autocomplete="off" id="email" name="email" placeholder="Email" type="text" value=""> 
<br><br>
    <dt><label for="password"> Password </label></dt>
    <dd>
        <input autocomplete="off" id="password" name="password" placeholder="Password" type="password" value="">
    </dd>
    <div> <input type="submit" class="btn btn-secondary center" value="Login"> </div>
</form>
<hr class="bold">   


{{> footer}}
