{{> header }} {{! header.handlebars partial}}
<br>
<header> <h1 style="text-align: center; color: rgb(94, 94, 94)">Log In to Rate Textbooks!</h1> </header>
<hr align="center" width="80%">   

<div class="form-element text-center">
    <dt><label for="email">Email</label></dt>
    <input autocomplete="off" id="email" name="email" placeholder="Email" type="text" value=""> 
<br><br>
    <dt><label for="password"> Password </label></dt>
        <input autocomplete="off" id="password" name="password" placeholder="Password" type="password" value="">
</div>
<br> 
<div class="text-center"> <button class="btn btn-secondary" type="submit">Log In</button> </div>

{{> footer}}
