{{> header}} {{! header.handlebars partial}}
<br>

 <h2 class="text-center"><span class="red"> Add a  </span> <span class="grey">Textbook!</span></a></h2> 
<hr class="bold">   

<form action="/textbooks/new" class="form-element text-left" method="POST">
    <dt><label for="ISBN">ISBN</label></dt>
    <input autocomplete="off" id="ISBN" name="ISBN" placeholder="ISBN" type="text"> 
    <br><br>
    <dt><label for="author"> Author </label></dt>
        <input autocomplete="off" id="Author" name="author" placeholder="Author" type="text">
    <br><br>    
        <dt><label for="courseid"> Course ID </label></dt>
        <input autocomplete="off" id="courseid" name="courseid" placeholder="Course ID" type="text">
    
    <div class="text-center"> <button class="btn btn-secondary" type="submit">Submit</button> </div>
</form>

{{> footer}}
