{{> header }} 
<br>
<h2 style="text-align: center"><span class="red"> Sign Up </span> <span class="grey">to Rate Textbooks!</span></a></h2>
<hr class="bold">  

<div class="form-element text-left">
    <dt><label for="firstname">First Name</label></dt>
    <input autocomplete="off" id="firstname" name="firstname" placeholder="First Name" type="text" value="">
<br><br>
    <dt><label for="lastname">Last Name</label></dt>
    <input autocomplete="off" id="lastname" name="lastname" placeholder="Last Name" type="text" value="">
<br><br>
    <dt><label for="email">Email</label></dt>
    <input autocomplete="off" id="email" name="email" placeholder="Email" type="text" value="">
<br><br>
    <dt><label for="password">Password</label></dt>
    <input autocomplete="off" id="password" name="password" placeholder="Password" type="password" value="">
</div>
<br>
<div class="text-center"><button class="btn btn-secondary" type="submit"> Sign Up! </button></div>

{{> footer}}