{{> header }} 

<br>
<h2 class="text-center"><span class="red"> Sign Up </span> <span class="grey">to Rate Textbooks!</span></a></h2>
<hr class="bold">  

<form action="/register" class="form-element text-left" method="POST">
    <dt><label for="firstname">Username</label></dt>
    <input autocomplete="off" id="firstname" name="username" placeholder="Username" type="text" value="">
<br><br>
    <dt><label for="lastname">Password</label></dt>
    <input autocomplete="off" id="lastname" name="password" placeholder="Password" type="text" value="">
<br><br>
    <dt><label for="email">Email</label></dt>
    <input autocomplete="off" id="email" name="email" placeholder="Email" type="text" value="">
<br><br>
    <div class="text-center"><button class="btn btn-secondary" type="submit"> Sign Up! </button></div>
</form>
<br>


{{> footer}}