{{> header }} {{! header.handlebars partial}}

<br>
 <h2 class="text-center"><span class="red"> Support</span> <span class="grey">our Team!</span></a></h2> 
<hr class="bold">  
<div class="help">
<p class="help-center">We are funded by our own means, so if you can take a moment of your time to click on a link or two to help generate revenue for us, we would greatly appreciate it! After all, we'd like to keep being able to provide you with help at no cost to you!</p>

</div><hr class="bold"> 

<p id="img_cont">
  <a href="https://barnesandnoble.com"><img src="bn.jpg" /></a>
  <a href="https://amazon.com"><img src="amazon.jpg" /></a>
  <a href="https://microsoft.com"><img src="msft.png" /></a>
  <a href="https://apple.com"><img src="appl.png" /></a>
</p>
<hr class="bold"> 

<h6 class="text-center"><span class="grey"> Thank you for your</span> <span class="red">kindness!</span><span class="grey"> &#x263A</span></a></h6> 
</div>

{{> footer}}