{{> header}}
<div class="container">
{{#each textbook}}

        <h1 class="center">{{title}}</h1>
        <img class="image-center" src="{{pictureurl}}">
        <h3 class="center">Author: {{author}}</h3>

{{/each}}

</div>
{{> footer}}