a.nav-link {
  color: rgb(255, 255, 255) !important;
  margin-right: 10px;
  font-size: 120%;
}

nav a:hover {
    color: #5E5E5E;
}

.navbar-dark-grey {
  background-color: #AE292E;;
}
.btn.btn-secondary {
    background-color: #AE292E;
    border-color: #AE292E;
    
  }
  /* SEARCH GLASS */
  .btn.btn-third { 
    background-color: rgb(255, 255, 255);
    outline:0;
  }
  .btn.btn-third:focus { 
    outline:0;
  }

.nav-spacing {
  margin-left: 10%;
}  
  /* .form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  } */

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* justify-content: center; */
  }

body {
  background-color: #ffffff !important;
}
.red {
  color: #AE292E;
  font-size: 150%;
  font-family: sans-serif;
}
.white {
  color: rgb(255, 255, 255);
  font-size: 150%;
  font-family: sans-serif;
}

.grey {
  color: rgb(94, 94, 94);
  font-size: 150%;
  font-family: sans-serif;
}

img {
  border-radius: 3%;
}

.form-element {
    margin: auto;
    width: 15%;
    font-family: sans-serif;
    color: #AE292E;
    font-size: 120%;
    
}
p {
  font-family: sans-serif;
  color: rgb(94, 94, 94);
}

.btn.btn-secondary {
  text-align: center;
}

.mx-auto{
  text-align: center !important;
  width: 400px !important;
}

/* hr {
  border: 1px solid #5E5E5E;
  width: 80%;
} */
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  left: 30px;
  }

  .search_input{
  color: rgb(94, 94, 94);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 40px;
  transition: width 0.4s linear;
  
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 200px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: #5E5E5E !important;
  color: white;
  text-decoration: none;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:#AE292E;
  }

  hr.bold {
    align: center;
    width: 80%;
    border: .5px solid #5E5E5E;
  }

  :focus {
    outline-color: #5E5E5E;
  } 
/* 
 body {
  background-repeat: no-repeat;
  opacity: 20%;
 } */

 body#background {
  background: url(‘book.jpg’) no-repeat 40% 40% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;

  }